table {
    width: 100%;
  }

  .add{
    margin-left:1155px;
  }
  .select {
    margin-top:50px
  }
  .select label{
    margin-left:350px;
  }
  .select button{
    width: 180px;
    margin-left:100px;
    background-color:rgb(0, 128, 0) ;
    color: white;

  }